@import "@radix-ui/themes/styles.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

.container {
    /*max-width: 1200px;*/
    margin: 0 auto;
    /*padding: 0 20px;*/
}

.section-header {
    text-align: center;
    margin-bottom: 48px;
}

.section-title {
    color: #0f172a;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.section-divider {
    width: 80px;
    height: 4px;
    background-color: #d97706;
    margin: 0 auto 1.5rem;
    border-radius: 2px;
}

.section-description {
    color: #64748b;
    max-width: 768px;
    margin: 0 auto;
    font-size: 1.125rem;
    line-height: 1.75;
}

.admin-page-root {
    .container {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        width: 80%;
        padding: 32px;
        overflow: auto;
    }
    aside {
        width: 20%;
    }
}
/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 6px;        /* vertical scrollbar */
    height: 6px;       /* horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
* {
    scrollbar-width: thin;          /* auto | thin | none */
    scrollbar-color: rgba(0,0,0,0.4) transparent;
}


@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }

    .section-description {
        font-size: 1rem;
    }
}